body 
  font-weight: normal
  font-size:   16px
  font-family: roboto-ex, system-ui
  color:       #222222
  font-style:  normal



.icon 
  display:      inline-block
  width:        1em
  height:       1em

  fill:         currentColor
  stroke:       currentColor
  stroke-width: 0