:root {
	--mainColor: #222222;
}
:root {
	--btn:{
	display: block;
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 50px;
	};

	--container:{
		margin        : 0 auto;
		padding-right : 15px;
		padding-left  : 15px;
		max-width     : 1200px;
	};
}
