section.propose
	div.card.card-propose(style="background-image: url('assets/img/bg/bg-malina.png');")
		h4.card-propose__title Малинка даром!
		.card-propose__body
			p
			|	При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку малинового варенья бесплатно.
		.card-propose__button
			a(href="") Хочу варенья!
 
	div.card.card-propose(style="background-image: url('assets/img/bg/bg-chocolate.png');")
		h4.card-propose__title Шоколадки даром!
		.card-propose__body
			p
			|	При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
		.card-propose__button
			a(href="") Хочу шоколадки!
 
