extends ../_template.pug

append variables
	-var title = 'Home page';
	-var pageClass = 'home';



block content
	.wrap(style="background-color: #849d8f;")
		include ../includes/section_top-line.pug
		include ../includes/header.pug
		include ../includes/section_propose.pug
		include ../includes/section_hit-sales.pug
		include ../includes/section_about.pug
		include ../includes/section_news.pug
		include ../includes/section_location.pug
		include ../includes/footer.pug
