extends ../_template.pug

append variables
	-var title = 'Home page';
	-var pageClass = 'home';



block content
	header#header.header
		.site-logo
			.site-logo__icon
				+icon('icon-menu')
	h1 Title
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laboriosam eum architecto dolores omnis qui sequi mollitia veritatis voluptate enim.
	include ../includes/test.pug
